{
    "base_directory": "/Users/cukierma/Documents/projects/SMIA/tests/test_fixtures/test_images", 
    "marker_names": [
        [
            "active", 
            "netrin",
            55
        ], 
        [
            "3D ", 
            "ligand",
            55
        ], 
        [
            "7th", 
            "nova",
            55
        ]
    ], 
    "mask_names": [
        
        [
            "nerve", 
            "nerve",
            55
        ],
     
        [
            "nuclei", 
            "nuclei",
            55
        ],
        [
            "stroma", 
            "stroma",
            55
        ],
        [
            "epithelium", 
            "epi",
            55
        ]
    ], 
    "output_images": false, 
    "output_thumbnails": false, 
    "num_markers": 3, 
    "num_masks": 4, 
    "num_pictures": 7, 
    "output_to": "/Users/cukierma/Desktop/results_test",
    "overlay_white_list": [
        "netrin under nuclei, nerve, NOTstroma"
    ]
}
